.adminLogout {
    position: absolute;
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.addProduct {
    background-color: black;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin-left: 850px;
}