.brand {
    display: flex;
    gap: 20px;
}

.samsung,
.redmi,
.oppo,
.vivo,
.oneplus{
    width: 150px;
    height: 170px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
