.logout{
    /* position:absolute; */
    top: 10px;
    right: 120px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    border: none;
    cursor: pointer;
}