.logout {
    position: absolute;
    top: 24px;
    right: 180px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.h4tag{
    position: absolute;
    top: 2px;
    right: 50px;
    font-weight: 600;
    font-size: 18px;
    color: rebeccapurple;
}

.cart {
    position: absolute;
    top: 24px;
    right: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 5px 9px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}