body {
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 400px;
    line-height: 1.7;
    color: #333;
    text-align: left;
    background-color: #f5f5f5;
}

p{
    font-weight: bold;
}

.mt-50{
    margin-top: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

img{
    width: 300px;
    height: 400px;
}

.bg-teal-400 { 
    background-color: #26a69a;
}

a{
    text-decoration: none;
}

button{
    background-color: black;
    color: white;
}

.fa {
        color: red;
}
